$button-color-basic: #ffbe0b;
$button-color-yellow: #ffbe0b;
$button-color-orange: #fb5607;
$button-color-pink: #ff006e;
$button-color-blue: #3a86ff;
$font-main-color: #fff;
$font-sec-color: #161616;
